<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="">

    <title>SHUTi UI - UI Framework for SHUTi App</title>

    <!-- Icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/simple-line-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="{{ site.baseurl }}/shuti/css/docs.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/shuti/css/style.css" rel="stylesheet">
    

</head>

<!-- BODY options, add following classes to body to change options

// Header options
1. '.header-fixed'                  - Fixed Header

// Sidebar options
1. '.sidebar-fixed'                 - Fixed Sidebar
2. '.sidebar-hidden'                - Hidden Sidebar
3. '.sidebar-off-canvas'        - Off Canvas Sidebar
4. '.sidebar-minimized'         - Minimized Sidebar (Only icons)
5. '.sidebar-compact'             - Compact Sidebar

// Aside options
1. '.aside-menu-fixed'          - Fixed Aside Menu
2. '.aside-menu-hidden'         - Hidden Aside Menu
3. '.aside-menu-off-canvas' - Off Canvas Aside Menu

// Footer options
1. '.footer-fixed'                      - Fixed footer

-->

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
        <a class="navbar-brand" href="/"></a>
    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav open">
                <ul class="nav">
                    <li class="nav-title">
                        Content
                    </li>
                    <li class="nav-item nav-dropdown">
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">Core 1</a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="/core-1/new-page">New Page</a></a>
                                </li>
                            </ul>
                        </li>
                    </li>

                    <li class="nav-title">
                        UI Style Guide
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">Content</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="/ui-style/typography/">Typography</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-badges.html">Badges</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-buttons.html">Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-images.html">Images</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-embed.html">Embedded Content</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">Layout</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-titles.html">Titles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-forms.html">Forms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-templates.html">Templates</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">Components</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-alerts.html">Alerts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-cards.html">Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-modals.html">Modals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-navbar.html">Page Nav</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-popover.html">Popover</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-tabs.html">Tabs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-tables.html">Tables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-toggle.html">Toggle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shuti-tooltips.html">Tooltips</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-title">
                        Assets
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shuti-images.html">Images</a>
                        <a class="nav-link" href="shuti-images.html">Storyline</a>
                        <a class="nav-link" href="shuti-images.html">Video</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Main content -->
        <main class="main">

            <div class="container-fluid">
                {{ content }}
            </div>
            <!-- /.conainer-fluid -->
        </main>


    </div>

    <footer class="app-footer">
       
    </footer>

    <!-- Bootstrap and necessary plugins -->
    <script src="{{ site.baseurl }}/shuti/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/shuti/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="{{ site.baseurl }}/shuti/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/shuti/bower_components/pace/pace.min.js"></script>


    <!-- Plugins and scripts required by all views -->
    <script src="{{ site.baseurl }}/shuti/bower_components/chart.js/dist/Chart.min.js"></script>


    <!-- GenesisUI main scripts -->
	<script src="{{ site.baseurl }}/shuti/js/docs.min.js"></script>
    <script src="{{ site.baseurl }}/shuti/js/app.js"></script>
    <!-- Plugins and scripts required by this views -->

    <!-- Custom scripts required by this view -->

</body>

</html>